@page
@model WebApp.Pages.Admin.Customers.DeleteModel

@{
    var pageTitle = $"{Resources.ButtonCaptions.Delete} {Resources.DataDictionary.Customer}";
    ViewData["Title"] = pageTitle;
}

<partial name="PartialViews/_DisplayPageMessages" />
<partial name="PartialViews/_DisplayToastMessages" />

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
    <div class="row">
        <fieldset disabled>
            <legend>
                @(Resources.Messages.ConfirmDelete)
            </legend>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerViewModel.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerViewModel.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.NationalCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerViewModel.NationalCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.TellNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerViewModel.TellNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerViewModel.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerViewModel.InsertDateTime)
                </dt>
                <dd class="col-sm-10">
                    @(Model.CustomerViewModel.InsertDateTime.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture))
                </dd>
            </dl>
        </fieldset>
        <hr />
        <form method="post">
            <input type="hidden" asp-for="CustomerViewModel.ID" />
            <input type="submit" value="@(pageTitle)" class="btn btn-danger" />
            &nbsp;
            <a asp-page="Index" class="text-decoration-none">
                @(Resources.ButtonCaptions.BackToList)
            </a>
        </form>
    </div>
</div>