@page
@model WebApp.Pages.Admin.Factors.DeleteModel

@{
    var pageTitle = $"{Resources.ButtonCaptions.Delete} {Resources.DataDictionary.Factor}";
    ViewData["Title"] = pageTitle;
}

<partial name="PartialViews/_DisplayPageMessages" />
<partial name="PartialViews/_DisplayToastMessages" />

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
    <div class="row">
        <fieldset disabled>
            <legend>
                @(Resources.Messages.ConfirmDelete)
            </legend>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @(Resources.DataDictionary.FactorID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FactorViewModel.ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FactorViewModel.Customer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FactorViewModel.Customer.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FactorViewModel.TotalAmount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FactorViewModel.TotalAmount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FactorViewModel.InsertDateTime)
                </dt>
                <dd class="col-sm-10">
                    @(Model.FactorViewModel.InsertDateTime.ToString("HH:mm:ss yyyy-MM-dd", CultureInfo.InvariantCulture))
                </dd>
            </dl>
        </fieldset>
        <hr />
        <form method="post">
            <input type="hidden" asp-for="FactorViewModel.ID" />
            <input type="submit" value="@(pageTitle)" class="btn btn-danger" />
            &nbsp;
            <a asp-page="Index" class="text-decoration-none">
                @(Resources.ButtonCaptions.BackToList)
            </a>
        </form>
    </div>
</div>