@page
@model WebApp.Pages.Admin.Funds.DetailsModel

@{
    var pageTitle = $"{Resources.ButtonCaptions.Details} {Resources.DataDictionary.Fund}";
    ViewData["Title"] = pageTitle;
}

<partial name="PartialViews/_DisplayPageMessages" />
<partial name="PartialViews/_DisplayToastMessages" />

<div class="container my-0 my-sm-1 my-md-3 my-lg-4">
    <div class="row">
        <fieldset disabled>
            <legend>
                @(pageTitle)
            </legend>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.ChargeDateTime)
                </dt>
                <dd class="col-sm-10">
                    @(Model.FundViewModel.ChargeDateTime.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture))
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.BalanceCharge)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FundViewModel.BalanceCharge)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.ChargeUsed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FundViewModel.ChargeUsed)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.FundDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FundViewModel.FundDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.UpdateDateTime)
                </dt>
                <dd class="col-sm-10">
                    @(Model.FundViewModel.UpdateDateTime.ToString("HH:mm:ss yyyy-MM-dd", CultureInfo.InvariantCulture))
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FundViewModel.InsertDateTime)
                </dt>
                <dd class="col-sm-10">
                    @(Model.FundViewModel.InsertDateTime.ToString("HH:mm:ss yyyy-MM-dd", CultureInfo.InvariantCulture))
                </dd>
            </dl>
        </fieldset>
        <div>
            <a asp-page="./Edit" class="text-decoration-none btn btn-primary" asp-route-id="@Model.FundViewModel.ID">
                @(Resources.ButtonCaptions.Edit)
            </a>
            &nbsp;
            <a asp-page="Index" class="text-decoration-none">
                @(Resources.ButtonCaptions.BackToList)
            </a>
        </div>
    </div>
</div>
